<section>
  <h2>Skills</h2>
    <ul>
      <li>
        <h3>Speaking</h3>
        <img src="../imeges/01_Sharedgoals-bro1.jpg" alt="" />
        <p>Improve your English skills and confidence. Live classes and interactive lessons online.
        20% extra free for a limited time only
        
        Learn English online and improve your
        skills through our high-quality courses and resources – all
        designed for adult language learners.</p>
        <details><summary>Learn more</summary></details>
      </li>
      <li>
        <h3>Writing</h3>
        <img src="../imeges/02_Typewriter-bro1.jpg" alt="" />
        <p>One of the most important and
        extensive areas of natural
        science, the science that studies
        substances, also their composition</p>
        <details>
            <summary>Learn more</summary>
        </details>
      </li>
      <li>
        <h3>Reading</h3>
        <img src="../imeges/03_Housebookshelves-bro1.jpg" alt="" />
        <p>perception and response actions
        of the user resulting from the use
        and/or upcoming use of the
        product, system or service</p>
        <details>
            <summary>Learn more</summary>
        </details>
      </li>
      <li>
        <h3>Listening</h3>
        <img src="../imeges/04_Podcastaudience-bro1.jpg" alt="" />
        <p>Here you can find activities to practise
        your listening skills. Listening will help you
        to improve your understanding</p>
        <details>
            <summary>Learn more</summary>
        </details>
      </li>
    </ul>
</section>
